<% provide(:title, 'About') %>
    <style>
    body {
      padding-top: 50px;
      font-size: 20x;
    }
    .baseTemplate {
      padding: 40px 15px;
      text-align: center;
    }
    .left {
      float: left;
    }
    .right {
      float: right;
      max-width: 450px;
    }
    .aboutContain{
      max-width: 700px;
      margin: 0 auto;
    }
    .clear {
      clear: both;
    }
    </style>

   
<h1>About Adelie Games</h1>
<div class = "aboutContain">
  Adelie Online, Inc. was started in 2013 as a company focusing on video game pre-order sales. In 2014 Adelie Online began developing mobile games as Adelie Games.
</div>

<h2>The Team</h2>

        <div class = "aboutContain">
          <div class="left">
            <h3>Lawrence Xia - CEO</h3>
            <img src="../../assets/lawrencexia.jpg" height=100>
          </div>
          <div class = "right">
            <br/><br/><br/>
           Lawrence graduated from Tufts University
           in 2013 with a BS in BME. He currently runs
           a brokerage firm, which he started as a
           hobby in college, while he explores his interests
           in software development.
          </div>
         </div>

         <div class = "clear"></div>

        <div class = "aboutContain">
          <div class="left">
          <h3>Russell Stern - CTO</h3>
          <img src="../../assets/pic.jpg" height=100>
          </div>
          <div class = "right">
            <br/><br/><br/>
           Russell graduated from Tufts University
           in 2013 with a BS in Computer Science.
           He currently works at Cognius, a startup
           located in Kendall Sq, MA.
          </div>
        </div>

        <div class = "clear"></div>

        <div class = "aboutContain">
          <div class="left">
          <h3>Mike Xu - Developer</h3>
          <img src="../../assets/mike.jpg" height=100>
          </div>
          <div class = "right">
            <br/><br/><br/>
           Mike graduated from Case Western Reserve University in 2014 with a BS in Computer Science.  He is currently at MouseTech, a software development startup in Shaker Heights, OH.
          </div>
        </div>
