<% provide(:title, 'Contact') %>
    <style>
    body {
      padding-top: 50px;
    }

    p{
      font-size: 20px;
    }
    .baseTemplate {
      padding: 40px 15px;
      text-align: center;
    }
    .left {
      float: left;
    }
    .right {
      float: right;
    }
    .contactContain{
      max-width: 700px;
    }
    .clear {
      clear: both;
    }
    </style>

<h1>Contact Information</h1>
<p>
Support Email: adelieonline@gmail.com <br/>
Twitter: @AdelieGames <br/>
Facebook: https://www.facebook.com/Adelie
</p>
     