<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Adelie Online Game</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../../assets/bootstrap.css">

    <!-- Custom styles for this template -->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    body {
      padding-top: 50px;
    }
    .starter-template {
      padding: 40px 15px;
      text-align: center;
    }
    .left {
      float: left;
      width: 48%;
    }
    .right {
      float: right;
      width: 48%;
    }
    .clear {
      clear: both;
    }
    </style>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Adelie Online</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Games</a></li>
            <li class="active"><a href="/contact">Contact Us</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
          <h1>Meet The Team</h1>

        <div class="left">
        <h3>Lawrence Xia - CEO</h3>
        <img src="../../assets/lawrencexia.jpg" height=100><br />
        Lawrence graduated from Tufts University in 2013 with a BS in BME. He currently runs a brokerage firm, which he started as a hobby in college, that brings in over $400,000 yearly revenue.
        </div>
        <div class="right">
        <h3>Russell Stern - CTO</h3>
        <img src="../../assets/pic.jpg" height=100><br />
        Russell graduated from Tufts University in 2013 with a BS in Computer Science. He currently works at Cognius, a startup located in Kendall Sq, MA.
        </div>
        <div class="clear">
        <h3>Contact Information</h3>
        <p>
        Support Email: adelieonline@gmail.com
        </p>
        </div>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
