<img src="../../assets/adelieonlinelogo.png" height=150>
<br/>

<h1>Adelie Games</h1>
<br/>

<div class = "indexGames">
  <a href= "/skysheep"><img src="../../assets/SkySheep.png" height=100></a>
  <p class = "gameDescription">
    Navigate your falling sheep back to earth in this gravity driven puzzler. Play the demo <a href= '/skysheep'> here</a>. 
  </p>
</div>

<br/>
<div class = "indexGames">
  <a href= "/waddlewar"><img src="../../assets/WaddleWarTitle.png" height=150></a>
  <p class = "gameDescription">
    Protect your fort against snowmen and monsters in this top down arcade game. 
  </p>
</div>

<br/>

<div class = "indexGames">
  <a href= "/superfrogjump"><img src="../../assets/SFJTitle.png" height=150></a>
  <p class = "gameDescription">
    Out-jump the poison cloud in this fast paced race-against-time pull and jump game.  
  </p>
</div>


