
    <style>
    body {
      padding-top: 50px;
    }
    .baseTemplate {
      padding: 40px 15px;
      text-align: center;
    }
    .lead{
      font-size: 14px;
    }

    .gameDescription{
      font-size: 18px;
      max-width: 250px;
      float: right;
    }

    .indexGames{
      max-width: 750px;
      margin: 0 auto;
    }

    #gameDemo {
      text-align: center;
    }
    </style>


      <img src="../../assets/adelieonlinelogo.png" height=150>
      <br/>

      <h1>Adelie Games</h1>
      <br/>
      
      <%= render 'index/skysheepdemo' %>

      <div class = "indexGames">
        <a href= "/waddlewar"><img src="../../assets/WaddleWarTitle.png" height=150></a>
        <p class = "gameDescription">
          Protect your fort against snowmen and monsters in this top down arcade game. 
        </p>
      </div>

      <div class = "indexGames">
        <a href= "/superfrogjump"><img src="../../assets/SFJTitle.png" height=150></a>
        <p class = "gameDescription">
         Out-jump the poison cloud in this fast paced race-against-time pull and jump game.  
        </p>
      </div>


