<% provide(:title, 'Sky Sheep') %>
    <style>
    body {
      padding-top: 50px;
    }
    .baseTemplate {
      padding: 40px 15px;
      text-align: center;
    }
    .lead{
      font-size: 14px;
    }
    </style>


        <h1>Sky Sheep</h1>
        <h2>proof of concept demo</h2>
        
        <%= render 'index/skysheepdemo' %>

        <h3>Instructions</h3>
        So you're a sheep falling from the sky, and your goal is to get out of <br/>
        each box and get back down to the earth. Click the left/right buttons, <br/>
        or hit the right/left arrow keys to turn the map in those directions. <br/>
        Pay attention to the obstacles, and don't get eaten by the wolf!

        <br/>
        <h3>We're looking for help!</h3>
        We are looking for a 2D artist and animator to take our game presentation <br/>
        to the next level. If that is you please email us at adelieonline@gmail.com! <br/>
        If you are excited as we are about this project, and think you can <br/>
        contribute in any other way, we'd love to hear from you. 
        </p>
