<% provide(:title, 'Super Frog Jump!') %>
 
<img src="../../assets/SFJTitle.png" height=150>
<div id="screenshots">
  <img src="../../assets/SFJ3.PNG" height=150>
  <img src="../../assets/SFJ2.PNG" height=150>
  <img src="../../assets/SFJ1.PNG" height=150>
</div>
<br/>
<h1>Super Frog Jump!</h1>
  Download from the iPhone App Store <a href = "https://itunes.apple.com/us/app/super-frog-jump!/id892187823?ls=1&mt=8" target = "_blank">here</a>. 
      <br/>Available in Google Play <a href = "https://play.google.com/store/apps/details?id=com.adelie.superfrogjump" target = "_blank">here.</a> 
      <br/> </br>
<p class="lead">
  <br/>
  Your pond has been contaminated by a poison cloud! Escape by hopping from leaf to leaf, but don't fall into the water! In this 2D endless runner, control your frog to escape the from the poison cloud by jumping on various platforms for as long as possible.
</p>

<h2>Credits and Attribution</h2>
<p class = "credits">
  Lawrence Xia  - Art, UI and environment <br/>
  Mike Xu - Physics and player mechanics <br/>
  Russell Stern - Level generation and UX <br/>
<h4>Attributions </h4>
  Game Engine - Unity 3D<br />
</p>

