<% provide(:title, 'Waddle War') %>

<img src="../../assets/WaddleWarTitle.png" height=150>
<div id="screenshots">
  <img src="../../assets/photo1.png" height=300>
  <img src="../../assets/photo2.png" height=300>
  <img src="../../assets/photo3.png" height=300>
</div>
<br/>
<h1>Waddle War</h1>

<div>Download from the iPhone App Store <a href = "https://itunes.apple.com/app/id870279884" target = "_blank">here</a>. 
    <br/>Available in Google Play <a href = "https://play.google.com/store/apps/details?id=com.adelie.waddlewar" target = "_blank">here.</a> 
    <br/>Play on Kongregate <a href = "http://www.kongregate.com/games/skier2k5/waddle-wars" target = "_blank">here.</a> <br/> </br>
</div>
<p class="lead">
  Your snow fort is under attack! Defend your fort from the evil 
  snowmen and monsters. In this top down arcade style defense game, 
  you control the hero penguin as he defends against waves of enemies. 
  Recruit defender minions, fortify defenses, and upgrade your 
  hero as you gain points. 
</p>

<h2>Credits and Attribution</h2>

<p class = "credits">
  Lawrence Xia  - Game Developer <br/>
  Russell Stern - Game Developer <br/>

  <h4>Attributions </h4>
  Game Engine - Unity 3D<br />
  Yeti model - MEidea Studio<br />
  Sounds (raw) - Mike Koenig<br />
</p>


