<footer class = "footer" style="clear:both">
	<br />
	<div class = "navbar-collapse collapse">
		<nav class = "pull-right">
			<ul class="nav navbar-nav">
				<li><a href = "/contact">Contact</a></li>
				<li><a href = "/about" target="_blank">About</a></li>
				<li><a href = "https://twitter.com/AdelieGames" target="_blank">Twitter</a></li>
				<li><a href = "https://www.facebook.com/Adelie" target="_blank">Facebook</a></li>
			</ul>
		</nav>
	</div>

	<div class = "pull-right" style = "text-align:right; padding-right: 25px;">
		Adelie Games </br>
		By
		<a href = "//www.adeliegames.com">Adelie Online</a>
		</br>
		Founded 2014
	</div>
</footer>